<launch>

<!-- 0 for more relaxed environments 1 for more tough environments -->
<arg name="relaxation" value="1"/>

<node pkg="pcl_ros_lib" type="pcl_ros_lib_node" name="pcl_ros_lib_node" output="screen">
    <param name="file_location" type="string" value="$(find pcl_ros_lib)/data/cloud_$(arg relaxation).pcd"/>
    <rosparam command="load" file="$(find pcl_ros_lib)/config/pcl_ros_lib_$(arg relaxation).yaml" />
</node>

<node pkg="pcl_ros_lib" type="pcl_ros_lib_visualization_node" name="pcl_ros_lib_visualization_node" output="screen"/>

<node name="rviz" pkg="rviz" type="rviz"
  args="-d $(find pcl_ros_lib)/rviz/pcl_ros_lib.rviz"
  />

</launch>
